﻿@model WebAMarafon.Models.Instructor
@{
 ViewBag.Title = "LearningMadeEasy4u";
 Layout = "~/Views/Shared/InstructorLayout.cshtml";
}
<div class="st-pusher well"style="overflow:scroll;"id="content">
<!-- Checks that if password is wrong or not -->
 @if (ViewBag.wrongpassword != null)
 {
<!-- In this container the wrong password error message will be shown -->
<div class="alert alert-danger alert-dismissable fade in">
<ahref="#"class="close"data-dismiss="alert"aria-label="close">&times;</a>
<strong>@ViewBag.wrongpassword</strong>
 @{
 ViewBag.wrongpassword = null;
 }
</div>
 }
<divstyle="border: 1pxsolidsilver; margin:10px10px0px10px; padding: 30px; borderradius: 4px; background-color:white;">
<!-- Form -->
<formaction="/Instructor/ChangePassword"method="post">
<div class="panel-body">
<div class="form-group">
<!-- current password will be entered here -->
<div class="form-control-material">
109
<label>Enter Current Password</label><br><br>
<inputtype="password"name="password"class="form-control"/>
</div>
</div><br><br>
<!-- submit button -->
<inputtype="submit"class="btn btn-primary"/>
</div>
</form>
</div>
</div>
<script>
//Form validation function
 $(function () {
 $("form").validate({
 rules: {
 password: "required"
 },
 messages: {
 password: "Field cannot be empty !",
 },
 submit: function (form) {
 form.submit();
 }
110
 });
 });
</script>
DownloadFile.cshtml
// Downloading a file that was previously uploaded by an instructor for LME4U
@model List<string>
@{
 ViewBag.Title = "LearningMadeEasy4u";
 Layout = "~/Views/Shared/InstructorLayout.cshtml";
}
<div class="st-pusher well"style="overflow:scroll;"id="content">
<br><h3 style="margin-left:10px; text-align:center;">Download Files</h3>
<div style="border: 1pxsolidsilver; margin:10px10px0px10px; padding: 10px; borderradius: 4px; background-color:white;">
<table style="width:100%;"class="table table-bordered">
<tr>
<th>File Name</th>
<th>Link</th>
</tr>
 @for (var i = 0; i <= Model.Count - 1; i++)
 {
<tr>
<!-- File Name -->
<td>
 @Model[i].ToString()
</td>
<!-- File Download Link -->
<td>
 @Html.ActionLink("Download", "Download", new { FileName =
@Model[i].ToString() })
</td>
</tr>
 }
</table>
</div>
</div>
InstructorIndex.cshtml
<!-- Homepage after login for instructor for LME4U-->
@{
 ViewBag.Title = "WebAMarafon";
 Layout = "~/Views/Shared/InstructorLayout.cshtml";
}
<!-- Homepage after login -->
<div class="st-pusher"id="content">
<!-- sidebar effects INSIDE of st-pusher: -->
<!-- st-effect-3, st-effect-6, st-effect-7, st-effect-8, st-effect-14 -->
<!-- this is the wrapper for the content -->
<div class="st-content">
<!-- extra div for emulating position:fixed of the menu -->
<div class="st-content-inner padding-none">
<div class="container-fluid">
<div class="page-section">
<h1 class="text-display-1">Dashboard</h1>
</div>
<div class="row"data-toggle="isotope">
<div class="item col-xs-12 col-lg-6">
<!-- Courses container -->
<div class="panel panel-default paper-shadow"data-z="0.5">
<div class="panel-heading">
<h4 class="text-headline margin-none">My Courses</h4>
<p class="text-subhead text-light">Your recent courses</p>
</div>
<ul class="list-group">
 @if (ViewBag.mycourses.Count > 0)
 {
var i = 1;
foreach (var c in ViewBag.mycourses)
 {
if (i <= 3)
 {
<li class="list-group-item media v-middle">
<div class="media-body">
<a href="#"class="text-subhead list-group-link">@c.CourseTitle</a>
</div>
<div class="media-right">
<div class="progress progress-mini width-100 margin-none">
<div class="progress-bar progress-bar-green-300"role="progressbar"ariavaluenow="45"aria-valuemin="0"aria-valuemax="100"style="width: 45%;">
</div>
</div>
</div>
</li>
 i++;
 }
else
 {
break;
 }
 }
 }
else
 {
<li class="list-group-item media v-middle">
<div class="media-body">
<a href="#"class="text-subhead list-group-link">No courses assigned yet!</a>
</div>
</li>
 }
</ul>
<div class="panel-footer text-right">
<a href="/Instructor/ShowMyCourses"class="btn btn-primary paper-shadow
relative"data-z="0"data-hover-z="1"data-animated>View all</a>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- /st-content-inner -->
</div>
<!-- /st-content -->
</div>