﻿@model List<string>
@{
    ViewBag.Title = "WebAMarafon";
    Layout = "~/Views/Shared/StudentLayout.cshtml";
}
<div class ="st-pusher well" style="overflow:scroll;" id="content">
    <br><h3 style ="margin-left:10px; text-align:center;">Download Files</h3>
        <div style ="border: 1px solid silver; margin: 10px 10px 0px 10px; padding: 10px; border-radius: 4px; background-color:white;">
            <table style ="width:100%;" class="table table-bordered">
                <tr>
                    <th>File Name</th>
                    <th>Link</th>
                </tr>
                @for (var i = 0; i <= Model.Count - 1; i++)
                {
                    <tr>
                        <!-- File Name -->
                        <td>
                            @Model[i].ToString()
                        </td>
                        <!-- File Download Link -->
                        <td>
                            @Html.ActionLink("Download", "Download", new
{
    FileName =
@Model[i].ToString()
})
                        </td>
                    </tr>
                }
                </table>
                </div>
                </div>
