@{
 ViewBag.Title = "LearningMadeEasy4u";
 Layout = "~/Views/Shared/StudentLayout.cshtml";
}
<div class="st-pusher well"style="overflow:scroll;"id="content">
<!-- When the quiz is finished then its result will be displayed here -->
 @if(ViewBag.finish == "yes")
 {
<br><button type="button"style="float:right; margin-right:15px;"class="btn btnsuccess"onclick="location.href='@Url.Action("StartQuiz", "Student",
null)'"><span class="glyphicon glyphicon-backward"></span> Back to Start
Quiz</button><br><br>
<div style="border: 1pxsolidsilver; margin:10px10px0px10px; padding: 10px; borderradius: 4px; background-color:white;">
<table class="table table-bordered">
<tr>
<th><h3 style="font-family:Calibri; text-align:center; font-size:18px"><b>Obtained
Marks</b></h3></th>
<th><h3 style="font-family:Calibri; text-align:center; font-size:18px"><b>Total
Marks</b></h3></th>
</tr>
<tr>
<td><p style="font-family:Calibri; text-align:center; fontsize:15px"><b>@ViewBag.ObtainedMarks</b></p></td>
<td><p style="font-family:Calibri; text-align:center; fontsize:15px"><b>@ViewBag.TotalMarks</b></p></td>
</tr>
</table>
</div>
 }
elseif (ViewBag.Question == null)
 {
<!-- this will show a message for telling that there are no quiz is scheduled against this
course -->
<br><button type="button"style="float:right; margin-right:15px;"class="btn btnsuccess"onclick="location.href='@Url.Action("StartQuiz", "Student", 
null)'"><span class="glyphicon glyphicon-backward"></span> Back to Start
Quiz</button><br><br>
<div style="border: 1pxsolidsilver; margin:10px10px0px10px; padding: 10px; borderradius: 4px; background-color:white;">
<table>
<tr>
<td><p style="font-family:Calibri; font-size:18px"><b>No quiz scheduled against this
course !</b></p></td>
</tr>
</table>
</div>
 }
elseif (ViewBag.Question != null)
 {
<br><h3 style="margin-left:10px; text-align:center;">Quiz</h3>
<div style="border: 1pxsolidsilver; margin:10px10px0px10px; padding: 10px; borderradius: 4px; background-color:white;">
<form action="/Student/Quiz"method="post">
<input type="text"name="QuizID"value="@ViewBag.QuizID"hidden/>
<table class="table table-borderless">
<tr>
<td style="width:10px; overflow:hidden;">
</td>
<!-- Quiz's question will be displayed here -->
<td style="overflow:hidden;text-overflow:ellipsis;">
<h3><b>Question:</b></h3><br>
<center><p style="font-family:Calibri;fontsize:18px;">@ViewBag.Question.Question</p></center><input type="text"value="@Vie
wBag.Question.ID"name="QuestionID"hidden/>
</td>
</tr>
<!-- Question's options will be displayed here -->
 @foreach (var o in ViewBag.Options)
 {
<tr>
<td style="text-align:right;">
<input type="radio"value="@o.ID"name="SelectedOption"/>
</td>
<td>
<p style="font-family:Calibri;font-size:15px;">@o.Option</p>
</td>
</tr>
 }
<tr>
<td></td>
<td>
<center><button type="submit"class="btn btn-success">Next Question
<span class="glyphicon glyphicon-forward"></span></button></center>
</td>
</tr>
</table>
</form>
</div>
 }
</div>
