﻿@{
    ViewBag.Title = "WebAMarafon";
    Layout = "~/Views/Shared/InstructorLayout.cshtml";
}
<div class ="st-pusher well" style="overflow:scroll;" id="content">
    <br><h4 style ="color:red;margin-left:10px;">
        Note:</h4>
        <p style ="color:red;margin-left:10px;">
            Only those courses will be shown in drop down
            list that have question bank !</p>
            <h3 style ="margin-left:10px; text-align:center;">
                Quiz Generator</h3>
                <div style ="border: 1pxsolidsilver; margin:10px10px0px10px; padding: 30px; borderradius: 4px; background-color:white;">
                    <form action ="/Instructor/SelectQuestions">
                        <!-- Title of the Quiz will be entered here -->
                        <label style ="font-family:Calibri;font-size:15px;">
                            Title:</label>
                            <input type ="text" name="Title" class="form-control" style="font-family:Calibri;fontsize:15px;" /><br>
                            <!-- Course for the quiz will be selected from this dropdownlist -->
                            <label style ="font-family:Calibri;font-size:15px;">
                                Course:</label>
                                <select name ="CourseID" class="form-control" style="font-family:Calibri;fontsize:15px;">
                                    <option disabled selected>
                                        --Select a Course--</option>
                                        @foreach (var course in Model)
                                        {
                                            <option value ="@course.CourseID">
                                                Code: @course.CourseID, Title:
                                                @course.CourseTitle</option>
                                        }
                                        </select><br>
                                        <!-- Submit Button -->
                                        <center><input type ="submit" value="Generate" style="width:15%;" class="btn btnprimary"></center>
                                        </form>
                                        </div>
                                        </div>
                                        <script>
//Funtion for the form validation
 $(function () {
 $("form").validate({
 rules: {
 Title: "required",
 CourseID: "required",
 },
 messages: {
 Title: "Field cannot be empty !",
 CourseID: "Field cannot be empty !",
 },
 submit: function (form) {
 form.submit();
 }
 });
 });
</script>
