﻿@{
    ViewBag.Title = "LearningMadeEasy4u";
    Layout = "~/Views/Shared/StudentLayout.cshtml";
}
<div class ="st-pusher well" style="overflow:scroll;" id="content">
    <br><h3 style ="text-align:center;">Results</h3>
        <!-- Quizes Result -->
        <div style ="border: 1px solid silver; margin:10px 10px 0px 10px; padding: 10px; border-radius: 4px; background-color:white;">
            <table style ="width:100%;" class="table table-bordered">
                <tr>
                    <th>Quiz ID</th>
                    <th>Student ID</th>
                    <th>Instructor ID</th>
                    <th>Course Code</th>
                    <th>Total Marks</th>
                    <th>Obtained Marks</th>
                </tr>
                @foreach (var r in Model)
                {
                    <tr>
                        <td>
                            @r.QuizID
                        </td>
                        <td>
                            @r.StudentID
                        </td>
                        <td>
                            @r.InstructorID
                        </td>
                        <td>
                            @r.CourseID
                        </td>
                        <td>
                            @r.TotalMarks
                        </td>
                        <td>
                            @r.ObtainedMarks
                        </td>
                    </tr>
                }
                </table>
                </div>
</div>