﻿@{
    ViewBag.Title = "LearningMadeEasy4u";
    Layout = "~/Views/Shared/InstructorLayout.cshtml";
}
<div class ="st-pusher well" style="overflow:scroll;" id="content">
    <br>
    <div style ="border: 1px solid silver; margin:10px 10px 0px 10px; padding: 10px; border-radius: 4px; background-color:white;">
        <table class="table table-bordered table-striped" style="table-layout:fixed">
            <tr>
                <th style ="width:318px; text-align:center;">
                    <h3>Questions</h3>
                </th>
            </tr>
            <!-- All questions that were selected to be given in the quiz will be shown here -->
            @foreach (var q in Model)
            {
                <tr>
                    <td style ="padding-left:10px;">@q.Question</td>
                </tr>
            }
        </table>
            <button type="button" class="btn btnsuccess" onclick="location.href='@Url.Action("ShowQuizes", "Instructor",
null)'">
                <span class="glyphicon glyphicon-backward">
                    </span> Back To Show Existing
                    Quizes</button>
                    </div>
</div>
