@{
 ViewBag.Title = "LearningMadeEasy4u";
 Layout = "~/Views/Shared/StudentLayout.cshtml";
}
<div class="st-pusher well"style="overflow:scroll;"id="content">
<br><h3 style="margin-left:10px; text-align:center;">Register Course</h3>
<div style="border: 1pxsolidsilver; margin:10px10px0px10px; padding: 30px; borderradius: 4px; background-color:white;">
<!-- Form -->
<form action="/Student/TakeCourse"method="post">
<!-- DropDownList of courses -->
<select name="CourseID"class="form-control"style="font-family:Calibri;fontsize:18px;">
 @if (Model.Count <= 0)
 {
<option disabledselected>--No courses to show--</option>
 }
else
 {
<option disabledselected>--Select a Course--</option>
foreach (var course in Model)
 {
<option value="@course.CourseID">Code: @course.CourseID, Title:
@course.CourseTitle</option>
 }
 }
</select><br>
<!-- Submit button -->
<center><input type="submit"value="Register"style="width:15%;"class="btn btnprimary"></center>
</form>
</div>
</div>
<script>
//Form validation function
 $(function () {
 $("form").validate({
 rules: {
 CourseID: "required"
 },
 messages: {
 CourseID: "You have to select a course",
 },
 submit: function (form) {
 form.submit();
 }
 });
 });
</script>
