﻿@{
    ViewBag.Title = "WebAMarafon";
    Layout = "~/Views/Shared/InstructorLayout.cshtml";
}
<div class ="st-pusher well" style="overflow:scroll;" id="content">
    @if (ViewBag.FileAlert != null)
    {
        <!-- Success message for adding file will be shown here -->
        <div class ="alert alert-success alert-dismissable fade in">
            <a href ="#" class="close" data-dismiss="alert" aria-label="close">
                &times;</a>
                <strong>@ViewBag.FileAlert</strong>
                @{
 ViewBag.FileAlert = null;
                }
                    </div>
                    }
    <br><h3 style ="margin-left:10px; text-align:center;">
        Upload Files</h3>
        <div style ="border: 1px solid silver; margin:10px 10px 0px 10px; padding: 10px; border-radius: 4px; background-color:white;">
            <table>
                <tr>
                    <td>
                        <!-- Form -->
                        @using (Html.BeginForm("UploadFile", "Instructor", FormMethod.Post, new
                        { enctype = "multipart/form-data" }))
                        {
                            <!-- Browse file -->
                            <label>upload file:</label><br>
                            <input type ="file" name="file" /><br>
                            <!-- Submit Button -->
                            <input type ="submit" />
                        }
                    </td>
                </tr>
            </table>
         </div>
    </div>